form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.form-group {
    margin: .6rem;
    display: flex;
    width: 40%;
}

.input-container, input {
    width: 60%;
}

.input-container input {
    width: 100%;
}

.input-container span {
    display: inline-block;
    color: red;
    margin-top: 0;
}

.form-group label {
    text-align: right;
    padding-right: 1rem;
    width: 40%;
}


  