<div clas="cart-container">
    <div class="total-price">
        <h1>Cena w sumie: {{total}}{{currencyService.currency}}</h1>
    </div>
    <div id="content">
        <div *ngFor="let dish of this.dishes">
            <app-dish-card [dish]="dish" [hasMaxPrice]="false" [hasMinPrice]="false" [isEditable]="false"></app-dish-card>
        </div>
    </div>
    <div class="buttons">
        <button class="custom-btn" [disabled]="total == 0" (click)="onBuyNow()">Kup</button>
        <a class="custom-btn" routerLink="/dish-list" routerLinkActive="active">Wróć do listy dań</a>
    </div>
</div>