.navbar {
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(255, 110, 110) !important; /*rgb(255, 110, 110)*/
}

.navbar-collapse {
    background-color: rgb(255, 110, 110) !important;
}

.navbar-toggler {
    color: whitesmoke;
}

.navbar-brand {
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.4rem;
}

.nav-link {
    color: whitesmoke !important;
    font-size: 1.2rem;
    font-weight: bold;
    transition: .5s;
}

.nav-link:hover {
    font-size: 1.3rem;
    color:blanchedalmond !important;
}
