<app-dish-filter></app-dish-filter>
<div *ngIf="authService.isLoggedIn" class="total-ordered" [ngStyle]="{'background-color': orderedCount > 10 ? 'lightblue' : 'orange'}">
  <h1>Zamówionych w sumie: {{orderedCount}}</h1>
</div>
<div id="content">
    <div *ngFor="
    let dish of this.dishesOnPage
      | dishFilter: 'price':dishAttributes.price
      | dishFilter: 'cuisineType':dishAttributes.cuisineType
      | dishFilter: 'rate':dishAttributes.rate
      | dishFilter: 'category':dishAttributes.category; let i = index" >
    
      <app-dish-card [dish]="dish" [hasMaxPrice]="dish.price === maxDishPrice" [hasMinPrice]="dish.price === minDishPrice" [isEditable]="authService.isLoggedIn"></app-dish-card>
    </div>
</div>

<app-pagination></app-pagination>