<app-dish-filter></app-dish-filter>
<div class="total-ordered" [ngStyle]="{'background-color': orderedCount > 10 ? 'lightblue' : 'orange'}">
  <h1>Zamówionych w sumie: {{orderedCount}}</h1>
</div>
<div id="content">
    <div *ngFor="
    let dish of this.dishes
      | dishFilter: 'price':dishAttributes.price
      | dishFilter: 'cuisineType':dishAttributes.cuisineType
      | dishFilter: 'rate':dishAttributes.rate
      | dishFilter: 'category':dishAttributes.category; let i = index" >
    
      <app-dish-card *ngIf="isInPage(i)" [dish]="dish" [hasMaxPrice]="dish.price === maxDishPrice" [hasMinPrice]="dish.price === minDishPrice"></app-dish-card>
    </div>
</div>

<div class="paginator">
  <button class="slider" (click)="onSwipeLeft()" [disabled]="currentPage == 1">
    <i class="fa fa-caret-left">❮</i>
  </button>
  <span style="font-size: 30px; margin: 10px">{{ currentPage }}</span>
  <button
    class="slider"
    (click)="onSwipeRight()"
    [disabled]="currentPage > dishes.length / pageSize"
  >
    <i class="fa fa-caret-right">❯</i>
  </button>

  <div class="page-sizer">
    <label for="pageSize">items on page:</label>
    <select
      (change)="onSelectPageSize()"
      name="pageSize"
      id="pageSize"
      class="form-control"
      [(ngModel)]="pageSize"
    >
      <option value="4">4</option>
      <option value="8">8</option>
      <option value="16">16</option>
      <option value="32">32</option>
      <option value="64">64</option>
      <option [value]="dishes.length">all</option>
    </select>
  </div>
</div>