<div class="container">
    <div class="business-card">
        <h1>Wizytówka restauracji</h1><br />
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Qui sed repellat quas officia, natus ad provident ratione dolorem cumque, rem architecto eligendi quam necessitatibus earum!
            Inventore dolorem porro molestias fugit.
        </p>
    </div>
  
    <div class="contact">
        <h1>Dane kontakowe:</h1>
        <p>
            Nr telefonu: +48 123 456 789<br />
            E-mail: lorem@ipsum.pl<br />
        </p><br />
    
        <h1>Mapa:</h1>
        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=krak%C3%B3w%20kawiory&t=&z=15&ie=UTF8&iwloc=&output=embed"></iframe>
    </div>
</div>
  