.paginator {
    margin: 2rem;
    font-size: 3rem;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: .1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.page-slider {
    grid-area: 1 / 5 / 2 / 7;
    display: flex;
    justify-content: center;
}

.slider {
    background-color: transparent;
    border: unset;
    color: black;
}

.page-sizer {
    font-size: 1rem;

    grid-area: 1 / 9 / 2 / 10;
}