.card {
    width: 22rem;
    height: 28rem;
    border-radius: .4rem .4rem;
    box-shadow: .2rem .2rem .6rem .2rem #aaaaaa;
    background-color: whitesmoke;
}

.card-img {
    height: 30%;
    background-color: blue;
    border-radius: .4rem .4rem 0 0;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .4rem .4rem 0 0;
    cursor: pointer;
}

.card-body {
    height: 40%;
    padding: 1rem;
    overflow-y: auto;
}

.card-body h1{
    font-size: 2rem;
    color: rgb(75, 75, 75);
    margin-bottom: 0;
}

.card-body h2{
    font-size: 2rem;
    color: rgb(75, 75, 75);
    margin-bottom: 0;
}

.card-body p{
    font-size: 1rem;
    color: rgb(255, 110, 110);
    margin-top: .2rem;
}

.card-body ul {
    padding: 0;
    list-style: none;
}

.card-body ul li {
    padding-top: 0.2rem;
}

hr {
    margin: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.card-footer {
    height: 15%;
    border-radius: 0 0 .4rem .4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: .5rem;
}

.card-footer-btn {
    display: flex;
    gap: .5rem;
}

.square-btn {
    height: 2.5rem;
    width: 2.5rem;
}

.card-footer-info {
    text-align: right;
    color: #666666;
}

.small-amount{
    background-color: rgb(252, 211, 211);
}

.max-price{
    border: .3rem solid green;
}

.min-price{
    border: .3rem solid red;
}

ngb-rating {
    color: #FFC107;
    font-size: 2rem;
}